html{
    scroll-behavior: smooth;
} 

.contenedor{
    background: antiquewhite;
}
.contenedor1{
    background: violet;
}

h2{
    text-align: center;
}

#whatsapp{
    position: fixed;
    bottom:0px;
    right:0px;
    
}

footer{
    background: yellowgreen;
}
ul li{
    display: inline;
    padding: 10px;
    
}

ul li a{
    text-decoration: none;
    color: red;
}

nav{
    right:0;

}

#titular{
    color:black;
    display: inline;
}